* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;

    background-image: url(https://cdn.mos.cms.futurecdn.net/AekfWN8aa5HTK3c9frFGDG-1920-80.jpg);
    font-family: 'Montserrat', sans-serif;
}

/* nav */


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;

    backdrop-filter: blur(5px);

    height: 65px;
}

.navbar_logo {
    color: #efefef;
    font-style: italic;
    font-size: 35px;
}

nav {
    display: flex;
    gap: 35px;
}

.navbar_nav a {
    font-style: italic;

    text-decoration: none;
    color: #efefef;
    font-size: 1.2em;
}

/* main */
main {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;

    padding: 40px;

    text-shadow: black 0 0 10px;

    background: rgba(0, 0, 0, 0.6);
}

.main_title h1 {
    font-style: italic;
    font-size: 3.5em;
    color: #efefef;
}

.main_title p {
    margin-top: 30px;

    font-size: 1.3em;
    color: #a8db86;
}


/* footer */
footer {
    height: 50px;

    background-color: rgba(0, 0, 0, 0.9);
}

.footer_text {

    text-align: center;
    color: #efefef;
}